$white:#fff;
$black:#333;
$primary:#fb6969;
$secondary:#2b32b2;
$secondary-gradient:linear-gradient(90deg, #1488cc, $secondary);
$grey: #cccccc;
$input-colour:$black;
$input-icon-colour:$black;
$input-border-colour:$black;