body{
  font-size:14px;
  font-weight:500;
}
body,button,input,select,form,tr,td,table{
  font-family:$font-sans-serif;
}

.material-icons {
  /* Support for IE */
  font-feature-settings: 'liga';
}
h1,h2,h3,h4,h5,h6,body{
  line-height:1.5em;
}
h1{
  font-size:3.5em;
}
h2{
  font-size:3em;
}
h3{
  font-size:2.5em;
}
h4{
  font-size:2em;
}
@each $k, $v in $letter-spacings {
    .letter-spacing-#{$k}{
      letter-spacing: $v !important;
    }
}
.font-weight-black{
    font-weight:900 !important;
}