$white:#fff;
$black:#333;
$primary:#fb6969;
$secondary:#2b32b2;
$secondary-gradient:linear-gradient(90deg, $secondary, #1488cc);
$grey: #cccccc;
$letter-spacings: (
    half: .5px,
    1: 1px,
    2: 2px
);
$spacer: 1rem !default;
$spacers:(
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8)
);
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Libre+Baskerville|Open+Sans:400,500,600,700,900&display=swap');
$font-sans-serif: 'Open Sans', serif;
$font-serif: "Libre Baskerville", sans-serif;
$font-primary:$font-sans-serif;
$font-secondary:$font-serif;
$fonts: (
    serif: $font-serif,
    sans-serif:$font-sans-serif,
    primary:$font-primary,
    secondary:$font-secondary
);

$letter-spacings: (
    half: .5px,
    1: 1px,
    2: 2px
);