@import './partials/base.scss',
    '~aos/dist/aos.css',
    './partials/utility.scss',
    './partials/buttons.scss',
    './partials/forms.scss',
    './partials/navs.scss';

body,html{
  min-height:100%;
  min-width:100%;
}

.dd-branding{
  box-sizing:border-box;
}
body{
  overflow-x:hidden;
}
.brand{
  &--icon{
      font-size:34px;
      margin:8px;
  }    
}

.dd-illus-card{
  background-color:#fff;
  border-radius:1px;
  box-shadow:0px 7px 15px rgba(0,0,0,.1);
  text-align:center;
  margin:0 auto;
  overflow:hidden;
  padding:24px;
  width:300px;
  border-radius:8px;
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  @include media-breakpoint-between(md,md) {
    width:220px;
  }    
  &__img{
    width:auto;
    height:150px;
    object-fit:cover;
    margin-bottom:16px;
  }
  &__h3{
    margin-bottom:4px;
    font-weight:bold;
    font-size:15px;
    color:rgba(0,0,0,.8);
    margin-bottom:8px;
    @include media-breakpoint-between(md,md) {
      margin-bottom:4px;
      font-size:12px;
    }    
  }
  &__btn{
    @include media-breakpoint-between(md,md) {
      font-size:10px;
    }    
  }
  &__p{
    margin-bottom:16px;
    @include media-breakpoint-between(md,md) {
      margin-bottom:8px;
      font-size:12px;
    }    
  }
  &-container{
    display:flex;
    flex-direction:column;
    @include media-breakpoint-up(md) {
      flex-direction:row;
    }    
  }
}

.dd-hero{
  padding:30px 0 40px 0;
  display:flex;
  justify-content:center;
  align-items:center;
  &__img{
    max-width:100%;
  }
  &__h1{
    font-weight:bold;
    font-size:3em;   
    @include media-breakpoint-up(lg) {
      font-size:4.2em;    
    }    
    @include media-breakpoint-up(xl) {
      font-size:5em;    
    }    
  }
}
.dd-bg-footer{
  background-image:url('assets/img/footer.svg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top;
}
.dd-bg-header{
  background-image:url('assets/img/header.svg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:bottom;
}

.dd-bg-newsletter{
  margin:0 auto;
}

.dd-bg-secondary{
  background-color:$secondary;
}
.dd-bg-secondary-gradient{
  background-image:$secondary-gradient;
}
.dd-bg-primary{
  background-color:$primary;
}
@each $name, $value in $grid-breakpoints {
  .dd-bp-max-#{$name}{   
    @each $k, $v in $grid-breakpoints{
      @if (index(($grid-breakpoints), ($k $v)) > index(($grid-breakpoints), ($name $value))) {
        @media (min-width: $v) {
          max-width:$value;
        }
      }
    }
  }
}